.cad-cliente.main-container{
    width: 83%;
    padding: 90px 10px 0 0;
    margin-left: 330px;
}

.cad-cliente.cadastro-form{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
}

.cad-cliente.cadastro-form h1{
    text-transform: capitalize;
    text-align: center;
    margin: 10px 0;
}

.cad-cliente.cadastro-form .form{
    display: flex;
    flex-direction: column;
    width: 100%;
    place-items: center;
}

.cad-cliente.cadastro-form .form label{
    display: inline-block;
    width: 100%;
    margin: 5px 0;
}

.cad-cliente.cadastro-form .form label span{
    display: inline-block;
    width: 25%;
    margin: unset;
    font-size: 20px;
    font-weight: normal;
}

.cad-cliente.cadastro-form .form label .react-datepicker-wrapper{
    width: 74%;
}

.cad-cliente.cadastro-form .form label .react-datepicker-wrapper input{
    width: 100%;
}

.cad-cliente.cadastro-form .form label input{
    width: 74%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 18px;
    outline: none;
    
    }
    ::-webkit-input-placeholder {
        color: #555;
    }
     
    :-moz-placeholder { /* Firefox 18- */
        color: #555;
    }
     
    ::-moz-placeholder {  /* Firefox 19+ */
        color: #555; 
        
    }
     
    :-ms-input-placeholder {  
        color: #555; 
    }

.cad-cliente.cadastro-form .form label input[type="date"]{
    text-align: center;
}

.cad-cliente.cadastro-form .form label select{
    display: inline-block;
    width: 74%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    outline: none;
}

.cad-cliente.cadastro-form .form .buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 10px;
}

.cad-cliente.cadastro-form .buttons button{
    display: grid;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d281e6;
    color: #fff;
    font-size: 20px;
    transition: all .224s ease;
    cursor: pointer;
}

.cad-cliente.cadastro-form .buttons button:hover{
    background-color: #5d2e69;
    font-weight: bold;
}

main .cad-cliente.main-container .search{
    display: inline-block;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 40px;
    margin: 30px 0 10px 0;
}

main .cad-cliente.main-container .search input{
    width: 280px;
    padding: 5px;
    border: none;
    border-radius: 25px;
    transform: translate(9px, -9px);
    font-size: 16px;
    outline: none;
}

main .cad-cliente.main-container .search span{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 50%;
    transform: translate(15px, 4px);
    transition: all .222s linear;
}

main .cad-cliente.main-container .search .btn_pesquisar{
    position: absolute;
    top: 5%;
    left: 5%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

main .cad-cliente.main-container .search .btn_pesquisar svg{
    padding: 5px;
    font-size: 32px;
    background-color: transparent;
    transition: all .222s linear;
}

main .cad-cliente.main-container .search span:hover{
    background-color: #000;
}
main .cad-cliente.main-container .search svg:hover{
    color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .cad-cliente.main-container{
        width: 100%;
        padding: 0px;
        margin-left: 0;
    }

    .cad-cliente.cadastro-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: transparent;
    }

    .cad-cliente.cadastro-form > h1{
        font-size: 21px;
    }

    .cad-cliente.cadastro-form .form{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }

    .cad-cliente.cadastro-form .form label{
        display: inline-block;
        width: 100%;
        margin: 5px 0;
    }

    .cad-cliente.cadastro-form .form label span{
        display: block;
        width: 100%;
        margin: unset;
        font-size: 18px;
        font-weight: bold;
        color: #000;
    }

    .cad-cliente.cadastro-form .form label .react-datepicker-wrapper{
        width: 100%;
    }

    .cad-cliente.cadastro-form .form label input,
    .cad-cliente.cadastro-form .form label select{
        display: block;
        width: 100%;
        padding: 5px 0px;
        border-bottom: 1px solid #000;
        margin: 5px 0;
        color: #000;
        outline: none;
    }

    .cad-cliente.cadastro-form .buttons{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        grid-gap: 10px;
        gap: 10px;
    }

    .cad-cliente.cadastro-form .buttons button{
        display: grid;
        width: 100%;
        margin: 10px 0 0 0;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #d281e6;
        color: #fff;
        font-size: 20px;
        transition: all .224s ease;
        cursor: pointer;
    }
    
    .cad-cliente.cadastro-form .buttons button:hover{
        background-color: #5d2e69;
        font-weight: bold;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px){
    .cad-cliente.main-container{
        width: 100%;
        padding: 0px;
        margin-left: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1366px){
    .cad-cliente.main-container {
        width: 76%;
        padding: 90px 10px 0 0;
        margin-left: 320px;
    }
}