.funcao.main-container{
    width: 83%;
    padding: 90px 10px 0 0;
    margin-left: 330px;
}

.funcao.cadastro-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    height: 100%;
    align-items: center;
    background-color: #fff;
}

.funcao.cadastro-form .form{
    display: flex;
    flex-direction: column;
    width: 100%;
    place-items: center;
}

.funcao.cadastro-form .form label{
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}

.funcao.cadastro-form .form label span{
    display: block;
    width: 100%;
    margin: unset;
    font-size: 20px;
    font-weight: normal;
}

.funcao.cadastro-form .form label input{
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
    outline: none;
    
    }
    ::-webkit-input-placeholder {
        color: white;
    }
     
    :-moz-placeholder { /* Firefox 18- */
        color: white;
    }
     
    ::-moz-placeholder {  /* Firefox 19+ */
        color:white; 
        
    }
     
    :-ms-input-placeholder {  
        color:white; 
        
    }


.funcao.cadastro-form .buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 10px
}

.funcao.cadastro-form .buttons button{
    display: grid;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d281e6;
    color: #fff;
    font-size: 20px;
    transition: all .224s ease;
    cursor: pointer;
}

.funcao.cadastro-form .buttons button:hover{
    background-color: #5d2e69;
    font-weight: bold;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .funcao.main-container{
        width: 100%;
        padding: 10px;
        margin-left: unset;
    }
    
    .funcao.cadastro-form{
        display: flex;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
    }

    .funcao.cadastro-form h1{
        font-size: 24px;
        font-weight: bold;
        margin: unset;
    }

    .funcao.cadastro-form .form{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }

    .funcao.cadastro-form .form label{
        display: inline-block;
        width: 100%;
        margin: 5px 0;
    }

    .funcao.cadastro-form .form label span{
        display: block;
        width: 100%;
        margin: unset;
        color: #000;
        font-size: 20px;
        font-weight: normal;
    }

    .funcao.cadastro-form .form label input{
        width: 100%;
        margin: 5px 0;
        padding: 5px;
        border: none;
        border-bottom: 1px solid #000;
        border-radius: unset;
        background-color: transparent;
        color: #000;
        outline: none;
    }

    .funcao.cadastro-form button{
        width: 100%;
        padding: 12px 5px;
        margin-top: 20px;
        background-color: #610d75;
        color: #fff;
        font-weight: bold;
        border: none;
        border-radius: 20px;
        box-shadow: 3px 3px 7px black;
        cursor: pointer;
    }

    .funcao.cadastro-form .linha{
        width: 70%;
        height: 1px;
        background-color: #dcdcdc;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .funcao.cadastro-form .cadastro-opcoes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px){
    .funcao.cadastro-form{
        display: flex;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
    }

    .funcao.cadastro-form span{
        color: #000;
        font-size: 30px;
        font-weight: bold;
        margin: unset;
    }

    .funcao.cadastro-form .form{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }

    .funcao.cadastro-form .form label{
        display: inline-block;
        width: 100%;
        margin: 5px 0;
    }

    .funcao.cadastro-form .form label span{
        display: block;
        width: 100%;
        margin: unset;
        font-size: 20px;
        font-weight: normal;
    }

    .funcao.cadastro-form .form label input{
        width: 100%;
        margin: 5px 0;
        padding: 5px;
        border: none;
        border-bottom: 1px solid #000;
        border-radius: unset;
        background-color: transparent;
        color: #000;
        outline: none;
    }

    .funcao.cadastro-form button{
        width: 100%;
        padding: 12px 5px;
        margin-top: 20px;
        background-color: #610d75;
        color: #fff;
        font-weight: bold;
        border: none;
        border-radius: 20px;
        box-shadow: 3px 3px 7px black;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) and (max-width: 1366px){
    .funcao.main-container {
        width: 76%;
        padding: 90px 10px 0 0;
        margin-left: 320px;
    }
}